<div *ngIf="!inRecruitSection" class="navbar">
    <div>
        <img routerLink="/home" src="../assets/main-logo.png" alt="main-logo" height="50px" width="200px">
    </div>
    <div>
        <form class="search-form" (ngSubmit)="onSubmit()" >
            <input type="text" placeholder="Search..." [(ngModel)]="search_text" name="search_text" >
            <button type="submit" mat-button>Search</button>
        </form>
    </div>
    <div *ngIf="!isLoggedIn">
        <a routerLink="/user/signin" class="link-style">Sign in</a>
        <a routerLink="/user/signup" class="link-style">Sign up</a>
        <a routerLink="/recruit/login" class="link-style">Recruiter</a>
    </div>
    <div *ngIf="isLoggedIn">
        <span routerLink="/user/profile" style="font-size: large;font-weight: bold;margin-right: 10px;cursor: pointer;"> {{userInfo.name}} </span>
        <a class="link-style" (click)="logout()" >Logout</a>
    </div>
</div>
<div *ngIf="inRecruitSection" class="navbar">
    <div>
        <img routerLink="/home" src="../assets/main-logo.png" alt="main-logo" height="50px" width="200px">
    </div>
    <div style="margin-top: 10px;">
        <h2>Recruiter Section</h2>
    </div>
    <div *ngIf="!isRecruiterLoggedIn">
        <a class="link-style" routerLink="/recruit/login">Login</a>
    </div>
    <div *ngIf="isRecruiterLoggedIn">
        <a class="link-style" (click)="logOutRecruiter()" > Logout </a>
    </div>
</div>
<router-outlet></router-outlet>