<mat-card style="width: 50%;margin: auto;margin-top: 20px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" style="display: flex;flex-direction: column;">
        <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" formControlName="password" matInput placeholder="password">
        </mat-form-field>
        <button style="width: 200px;margin: auto;" mat-raised-button color="primary">Login</button>
    </form>
    <p style="margin: auto;text-align: center;margin-top: 10px;">New here? <a routerLink="/recruit/register" >Register</a> </p>
</mat-card>